 <%= form_with(model: @post, local: true)do |f|%>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="field">
      <%= f.label :image,"投稿画像" %><br />
      <%= f.file_field :image%>
    </div>

    <div class="field">
      <%= f.label :text, "テキスト"%><br />
      <%= f.text_field :text%>
    </div>

    <div class="field">
      <p>※必須</p>
      <%= f.label :tops_shop, "各トップス購入先店舗店"%><br />
      <%= f.text_field :tops_shop, class: 'form_text' %>
    </div>

    <div class="field">
      <p>※必須</p>
      <%= f.label :tops_prefecture, "各購入先店舗店エリア（都道府県）"%><br />
      <%= f.text_field :tops_prefecture, class: 'form_text' %>
    </div>

    <div class="field">
      <p>※必須</p>
      <%= f.label :tops_brand, "ブランド（各トップス）"%><br />
      <%= f.text_field :tops_brand, class: 'form_text' %>
    </div>

     <div class="field">
      <%= f.label :tops_price, "価格（各トップス）"%><br />
      <%= f.text_field :tops_price, class: 'form_text' %>
    </div>

    <div class="field">
      <p>※必須</p>
      <%= f.label :pants_shop, "ボトムス購入先店舗"%><br />
      <%= f.text_field :pants_shop %>
    </div>

    <div class="field">
      <p>※必須</p>
      <p>購入店舗エリア（都道府県）</p>
      <%= f.collection_select(:pants_prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
    </div>


    <div class="field">
      <p>※必須</p>
      <%= f.label :pants_brand, "ブランド（ボトムス）"%><br />
      <%= f.text_field :pants_brand%>
    </div>

    <div class="field">
      <%= f.label :pants_price, "価格（ボトムス）"%><br />
      <%= f.text_field :pants_price%>
    </div>

    <div class="field">
      <p>※必須</p>
      <%= f.label :shoes_shop, "シューズ購入先店舗"%><br />
      <%= f.text_field :shoes_shop%>
    </div>

    <div class="field">
      <p>※必須</p>
      <p>購入店舗エリア（都道府県）</p>
      <%= f.collection_select(:shoes_prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
    </div>

    <div class="field">
      <p>※必須</p>
      <%= f.label :shoes_brand, "ブランド（ブランド）"%><br />
      <%= f.text_field :shoes_brand%>
    </div>

    <div class="field">
      <%= f.label :shoes_price, "価格（シューズ）"%><br />
      <%= f.text_field :shoes_price%>
    </div>


    <div class="actions">
      <%= f.submit "保存する", class: 'form_btn'%>
    </div>

    

  <% end %>