
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
           <h1>〜Allage〜</h1>
          </div>

          <%if user_signed_in? %>
            <div class="nav__right"> 
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav__btn"%> 
              <%= link_to "Allager",new_post_path, class: "nav__btn" %>
              
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン",  new_user_session_path, class: "nav__btn" %>
              <%= link_to "新規登録", new_user_registration_path, class: "nav__btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>




<div class="card_title">
  <h2><span class="fas fa-crown"></span>人気コーデランキング<span class="fas fa-crown"></span></h2>
</div>
  <div class="card">
      <%= render partial: 'post', collection: @posts%>
  </div>

 <div class="card">
    <%if @posts.length == 0%>
      <div class="card_photo">
        <%= link_to image_tag("IMG_2267 2.jpeg",class: 'card_img') %>
        <p>1</p>
        <a><span class="far fa-heart"></span></a>
      </div>
      <div class="card_photo">
        <%= link_to image_tag("IMG_2274.jpeg",class: 'card_img') %>
        <p>2</p>
        <a><span class="far fa-heart"></span></a>
      </div>
      <div class="card_photo">
        <%= link_to image_tag("IMG_2259.jpeg",class: 'card_img') %>
        <p>3</p>
        <a><span class="far fa-heart"></span></a>
      </div>
      <div class="card_photo">
        <%= link_to image_tag("IMG_2267 2.jpeg",class: 'card_img') %>
        <p>4</p>
        <a><span class="far fa-heart"></span></a>
      </div>
      <div class="card_photo">
        <%= link_to image_tag("IMG_2259.jpeg",class: 'card_img') %>
        <p>5</p>
        <a><span class="far fa-heart"></span></a>
      </div>
      <div class="card_photo">
        <%= link_to image_tag("IMG_2274.jpeg",class: 'card_img') %>
        <p>6</p>
        <a><span class="far fa-heart"></span></a>
      </div>
      <div class="card_photo">
      </div>
      <div class="card_photo">
      </div>
      <div class="card_photo">
      </div>
    <% end %>
 </div>
    <footer class="footer">
      <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
    </footer>






   

