<div class="card_title">
  <h2><span class="fas fa-crown"></span>人気コーデランキング<span class="fas fa-crown"></span></h2>
</div>
<div class="card">
  <div class="card_photo">
    <%= link_to image_tag("IMG_2267 2.jpeg",class: 'card_img') %>
    <p>1</p>
    <a><span class="far fa-heart"></span></a>
  </div>
  <div class="card_photo">
    <%= link_to image_tag("IMG_2274.jpeg",class: 'card_img') %>
    <p>2</p>
    <a><span class="far fa-heart"></span></a>
  </div>
  <div class="card_photo">
    <%= link_to image_tag("IMG_2259.jpeg",class: 'card_img') %>
    <p>3</p>
    <a><span class="far fa-heart"></span></a>
  </div>
  <div class="card_photo">
    <%= link_to image_tag("IMG_2267 2.jpeg",class: 'card_img') %>
    <p>4</p>
     <a><span class="far fa-heart"></span></a>
  </div>
  <div class="card_photo">
    <%= link_to image_tag("IMG_2259.jpeg",class: 'card_img') %>
    <p>5</p>
    <a><span class="far fa-heart"></span></a>
  </div>
  <div class="card_photo">
    <%= link_to image_tag("IMG_2274.jpeg",class: 'card_img') %>
    <p>6</p>
    <a><span class="far fa-heart"></span></a>
  </div>
  <div class="card_photo">
  </div>
  <div class="card_photo">
  </div>
  <div class="card_photo">
  </div>
</div>




  

