    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
           <h1><%= link_to "〜Allage〜", "/"%></h1>
          </div>

          <%if user_signed_in? %>
            <div class="nav__right"> 
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav__btn"%> 
              <%= link_to "Allager",new_post_path, class: "nav__btn" %>
              
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン",  new_user_session_path, class: "nav__btn" %>
              <%= link_to "新規登録", new_user_registration_path, class: "nav__btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>




<div class="card_title">
  <h2><span class="fas fa-tags"></span> 該当タグ コーデ一覧  </h2>
</div>
<div class="card">
    <% @posts.each do |post|%>
    <div class="se_photo">
      <%= link_to image_tag(post.image, class: 'se_img' ), post_path(post.id)%>
      <div class="se_tag">
            <% post.tags.each do |tag|%>
              <span>
                <%= link_to "# #{tag.tag_name}", tag_posts_path(tag_id: tag.id)%>
              </span>
            <% end %>
      </div>
      <div class="count_main">
        <span  class="fas fa-heart"></span>
        <div class="count">
          <%= post.likes.length%>
        </div>
      </div>

    </div>

    <% end %>
</div>

<%= render partial: 'shared/footer'%>
