<%= render partial: 'shared/header'%>
<div class="show_main">
  <div class="show_inner">
    <div class="more_inner">
     <%= link_to image_tag(@post.user.image, class: 'user_img' ), post_path(@post.id)%>
      <div class="show_photo">
        <%= image_tag @post.image, class: "show_img"%>
      </div>
      <div class="post_tag">
        <%@post.tags.each do |t| %>
          <span>
            <%= link_to "# #{t.tag_name}", tag_posts_path(tag_id: t.id)%>
          </span>
        <%end%>
      </div>
      <div class="like-main">
           <%= render partial: 'likes/like', locals: { post: @post } %>
      </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="show_manage">
         <%= link_to "編集", edit_post_path(@post.id),class: "post_btn"%>
         <%= link_to "消去", post_path(@post.id), method: :delete, class: "post_btn"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class= "inf_main">
      <div class = "show_inf">
          <div class = "inf_post">
            <%= @post.text%>
          </div>
          <div class="inf_title">
            <p>ユーザー情報</p>
          </div>
           <div class="inf_sub_title">
             <p>ユーザー名</p>
           </div>
           <div class="inf_post">
            <%= @post.user.nickname%>
           </div>
           <div class="inf_sub_title">
           <p>身長</p>
           </div>
           <div class="inf_post">
            <%= @post.user.height%>
           </div>
           <div class="inf_title">
          <p>トップス</p>
          </div>
           <div class="inf_sub_title">
             <p>購入先店舗（トップス）</p>
           </div>
          <div class="inf_post">  
            <%= @post.tops_shop%>
          <div>
           <div class="inf_sub_title">
             <p>購入先店舗エリア</p>
           </div>
          <div class="inf_post">
            <%= @post.tops_prefecture%>
          <div>
          <div class="inf_sub_title">
             <p>ブランド</p>
           </div>
          <div class="inf_post">
            <%= @post.tops_brand%>
          <div>
           <div class="inf_sub_title">
             <p>価格</p>
           </div>
           <div class="inf_post">
            <%= @post.tops_price%>
          <div>      

          <div class="inf_title">
          <p>ボトムス</p>
          </div>
            <div class="inf_sub_title">
             <p>購入先店舗</p>
           </div>
          <div class="inf_post">
           <%= @post.pants_shop%>
          </div>
           <div class="inf_sub_title">
             <p>購入先店舗エリア</p>
           </div>
          <div class="inf_post">
           <%= @post.pants_shop%>
          </div>
            <div class="inf_sub_title">
              <p>ブランド</p>
           </div>
           <div class="inf_post">
             <%= @post.pants_brand%>
           </div>
           <div class="inf_sub_title">
             <p>価格</p>
           </div>
            <div class="inf_post">
             <%= @post.pants_price%>
           </div>

            <div class="inf_title">
            <p>シューズ</p>
            </div>
           <div class="inf_sub_title">
             <p>購入先店舗</p>
           </div>
            <div class="inf_post">
             <%= @post.shoes_shop%>
           </div>
           <div class="inf_sub_title">
             <p>購入先店舗エリア</p>
           </div>
            <div class="inf_post">
             <%= @post.shoes_prefecture_id%>
           </div>
           <div class="inf_sub_title">
             <p>ブランド</p>
           </div>
            <div class="inf_post">
             <%= @post.shoes_brand%>
           </div>
            <div class="inf_sub_title">
             <p>価格</p>
           </div>
            <div class="inf_post">
             <%= @post.shoes_price%>
           </div>

          
      </div>
  </div>
 
